In [78]:
n=int(input("donner n : "))
mydict={}
for i in range (0, n+1):
 
  mydict[i]=i**2
 
print(mydict)

donner n : 97
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409}

In [103]:

word=input("give me the word!: ")
n=int(input("give me n: "))
list1=list(word)
print(list1)
list1.remove(list1[n])
str1 = ''.join(list1)
print(str1)

give me the word!: dali
give me n: 2
['d', 'a', 'l', 'i']
dai

In [111]:
import numpy as np 
a= np.array([[0,1],[2,3],[4,5]])
lista = a.tolist() 
print(lista)
print(type(a))
print(type(lista))

[[0, 1], [2, 3], [4, 5]]
<class 'numpy.ndarray'>
<class 'list'>

In [62]:
n=int(input("donner n: "))
K=1
for i in range(2, n+1):
  #K= i*(i+1)
  K= K*i
print(K)

donner n: 4
24

In [24]:
mylist=[]
for i in range(2000, 3201):
  if i % 7 == 0 and i % 5 != 0 :
    mylist.append(i)
print(mylist)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [125]:
import math
word= input("give me the d : ")
l2=[]
l=word.split(',')
c=50
h=30
for e in l:
  d= int(e)
  Q=(2 * c * d )/h
  g=int(math.sqrt(Q))
  l2.append(str(g))
  str1 = ','.join(l2)
print(str1)

give me the d : 100,150,180
18,22,24